examples/1_Basic read-write.json
[{"id":"bf0368a0f7bbeac9","type":"inject","z":"64dbc40bf87da2b9","name":"False","props":[{"p":"payload.xBool","v":"false","vt":"bool"}],"repeat":"2","crontab":"","once":true,"onceDelay":"0","topic":"","x":170,"y":80,"wires":[["bd0f08f36a269cc7"]]},{"id":"bd0f08f36a269cc7","type":"nvl-send","z":"64dbc40bf87da2b9","name":"","definition":"TYPE NVL:\nSTRUCT\n    xBool:  BOOL;\nEND_STRUCT\nEND_TYPE","listId":"20","x":420,"y":100,"wires":[["2f6a9152a5d98f0e"]]},{"id":"306badb809d93eb3","type":"nvl-receive","z":"64dbc40bf87da2b9","name":"","definition":"TYPE NVL:\nSTRUCT\n    xBool:  BOOL;\nEND_STRUCT\nEND_TYPE","listId":"20","x":430,"y":440,"wires":[["b9124a607fab9885"]]},{"id":"0dc7d26efd996c09","type":"inject","z":"64dbc40bf87da2b9","name":"True","props":[{"p":"payload.xBool","v":"true","vt":"bool"}],"repeat":"2","crontab":"","once":true,"onceDelay":"1","topic":"","x":170,"y":120,"wires":[["bd0f08f36a269cc7"]]},{"id":"2f6a9152a5d98f0e","type":"udp out","z":"64dbc40bf87da2b9","name":"","addr":"127.0.0.1","iface":"","port":"1202","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":650,"y":200,"wires":[]},{"id":"a6e9a70ad11f6bfe","type":"udp in","z":"64dbc40bf87da2b9","name":"","iface":"","port":"1202","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":180,"y":500,"wires":[["306badb809d93eb3","6a3ad3f8f5142965"]]},{"id":"b9124a607fab9885","type":"debug","z":"64dbc40bf87da2b9","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload.xBool","targetType":"msg","statusVal":"payload.xBool","statusType":"auto","x":650,"y":440,"wires":[]},{"id":"1bdbef447438f3c1","type":"nvl-send","z":"64dbc40bf87da2b9","name":"","definition":"TYPE NVL:\nSTRUCT\n    sString:    STRING;\n    lrNumber:   LREAL;\n    iInt:       INT;\nEND_STRUCT\nEND_TYPE","listId":"10","x":420,"y":300,"wires":[["2f6a9152a5d98f0e"]]},{"id":"54315136edc6023c","type":"inject","z":"64dbc40bf87da2b9","name":"Init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"{\"sString\":\"Init\",\"lrNumber\":0.123,\"iInt\":456}","payloadType":"json","x":170,"y":220,"wires":[["1bdbef447438f3c1"]]},{"id":"843918340943f541","type":"inject","z":"64dbc40bf87da2b9","name":"lrNumber","props":[{"p":"payload.lrNumber","v":"","vt":"date"}],"repeat":"2","crontab":"","once":true,"onceDelay":"0.5","topic":"","x":190,"y":260,"wires":[["1bdbef447438f3c1"]]},{"id":"6a3ad3f8f5142965","type":"nvl-receive","z":"64dbc40bf87da2b9","name":"","definition":"TYPE NVL:\nSTRUCT\n    sString:    STRING;\n    lrNumber:   LREAL;\n    iInt:       INT;\nEND_STRUCT\nEND_TYPE","listId":"10","x":430,"y":560,"wires":[["a7a1654c447866e4","f471891b1218647e","03bf459343b966b8"]]},{"id":"a7a1654c447866e4","type":"debug","z":"64dbc40bf87da2b9","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload.sString","targetType":"msg","statusVal":"payload.sString","statusType":"auto","x":660,"y":560,"wires":[]},{"id":"f471891b1218647e","type":"debug","z":"64dbc40bf87da2b9","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload.lrNumber","targetType":"msg","statusVal":"payload.sString","statusType":"auto","x":660,"y":620,"wires":[]},{"id":"03bf459343b966b8","type":"debug","z":"64dbc40bf87da2b9","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload.iInt","targetType":"msg","statusVal":"payload.sString","statusType":"auto","x":640,"y":680,"wires":[]},{"id":"7679d535767cc8f8","type":"inject","z":"64dbc40bf87da2b9","name":"sString","props":[{"p":"payload.sString","v":"New sentence.","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":300,"wires":[["1bdbef447438f3c1"]]},{"id":"cb663d2dc09a06ed","type":"inject","z":"64dbc40bf87da2b9","name":"iInt = 5","props":[{"p":"payload.iInt","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":340,"wires":[["1bdbef447438f3c1"]]},{"id":"31799aea7eef4182","type":"inject","z":"64dbc40bf87da2b9","name":"iInt = 4","props":[{"p":"payload.iInt","v":"4","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":380,"wires":[["1bdbef447438f3c1"]]}]