examples/2_Structures Arrays Enums.json
[{"id":"d381d37d1a975ecc","type":"nvl-send","z":"b80a87890215bee5","name":"","definition":"VAR_GLOBAL\n    myArray:    ARRAY [5..10] OF ST_MyStruct;\n    myEnum:     ENUM_Light;\n    my2DArray:  ARRAY [0..2,0..1] OF LREAL;\nEND_VAR\n","listId":"20","globaltypes":"b2c7564cfe776a2d","x":620,"y":240,"wires":[["c6154bfc7cfb9ac3"]]},{"id":"9948f9cafad1d209","type":"nvl-receive","z":"b80a87890215bee5","name":"","definition":"VAR_GLOBAL\n    myArray:    ARRAY [5..10] OF ST_MyStruct;\n    myEnum:     ENUM_Light;\n    my2DArray:  ARRAY [0..2,0..1] OF LREAL;\nEND_VAR\n\n//Structure definition\nTYPE ST_MyStruct:\nSTRUCT\n    xBool:      BOOL;\n    bByte:      BYTE;\nEND_STRUCT\nEND_TYPE\n\n//Enumeration definition\nTYPE ENUM_Light: (\n    Red,\n    Orange,\n    Green := 10\n);\nEND_TYPE","listId":"20","globaltypes":"","x":630,"y":420,"wires":[["9164659aa707a59c"]]},{"id":"c6154bfc7cfb9ac3","type":"udp out","z":"b80a87890215bee5","name":"","addr":"127.0.0.1","iface":"","port":"1203","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":810,"y":240,"wires":[]},{"id":"fc845ba90ea93a61","type":"udp in","z":"b80a87890215bee5","name":"","iface":"","port":"1203","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":260,"y":480,"wires":[["9948f9cafad1d209","02184efd8ee6d6f9"]]},{"id":"9164659aa707a59c","type":"debug","z":"b80a87890215bee5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":420,"wires":[]},{"id":"e4ce73f7a95dafe7","type":"function","z":"b80a87890215bee5","name":"Set intial values","func":"msg.payload = {\n    myArray: \n        [  \n            { xBool:true,   bByte: 1},\n            { xBool:false,  bByte: 2},\n            { xBool:true,   bByte: 3},\n            { xBool:false,  bByte: 4},\n            { xBool:true,   bByte: 5}\n        ],\n    myEnum: \"Red\",\n    my2DArray:\n        [\n            [0,1],\n            [2,3],\n            [4,5]\n        ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["d381d37d1a975ecc"]]},{"id":"82b23d925ec29aa3","type":"inject","z":"b80a87890215bee5","name":"Init","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":240,"wires":[["e4ce73f7a95dafe7"]]},{"id":"974fd4177287b816","type":"inject","z":"b80a87890215bee5","name":"Enum by name","props":[{"p":"payload.myEnum","v":"Orange","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":280,"y":300,"wires":[["d381d37d1a975ecc"]]},{"id":"b1637598108034d2","type":"inject","z":"b80a87890215bee5","name":"Enum by number","props":[{"p":"payload.myEnum","v":"10","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":280,"y":340,"wires":[["d381d37d1a975ecc"]]},{"id":"02184efd8ee6d6f9","type":"nvl-receive","z":"b80a87890215bee5","name":"","definition":"VAR_GLOBAL\n    myArray:    ARRAY [5..10] OF ST_MyStruct;\n    myEnum:     ENUM_Light;\n    my2DArray:  ARRAY [0..2,0..1] OF LREAL;\nEND_VAR","listId":"20","globaltypes":"b2c7564cfe776a2d","x":630,"y":520,"wires":[["5cd4d9b46c812fc1"]]},{"id":"5cd4d9b46c812fc1","type":"debug","z":"b80a87890215bee5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":520,"wires":[]},{"id":"e235b179ea625c6a","type":"comment","z":"b80a87890215bee5","name":"Using local datatypes","info":"","x":660,"y":380,"wires":[]},{"id":"bb48497b2d5cb8d9","type":"comment","z":"b80a87890215bee5","name":"Using global datatypes","info":"","x":660,"y":480,"wires":[]},{"id":"d32be711be9e9aa0","type":"comment","z":"b80a87890215bee5","name":"Using global datatypes","info":"","x":660,"y":200,"wires":[]},{"id":"b2c7564cfe776a2d","type":"nvl-datatypes","name":"Example types","datatypes":"//Structure definition\nTYPE ST_MyStruct:\nSTRUCT\n    xBool:      BOOL;\n    bByte:      BYTE;\nEND_STRUCT\nEND_TYPE\n\n//Enumeration definition\nTYPE ENUM_Light: (\n    Red,\n    Orange,\n    Green := 10\n);\nEND_TYPE"}]