examples/2_Structures Arrays Enums.json
[{"id":"a39c3cbc533d9fd4","type":"nvl-send","z":"2892cbdd.fbc6c4","name":"","definition":"TYPE NVL:\nSTRUCT\n    myArray:    ARRAY [5..10] OF ST_MyStruct;\n    myEnum:     ENUM_Light;\n    my2DArray:  ARRAY [0..2,0..1] OF LREAL;\nEND_STRUCT\nEND_TYPE\n\n//Structure definition\nTYPE ST_MyStruct:\nSTRUCT\n    xBool:      BOOL;\n    bByte:      BYTE;\nEND_STRUCT\nEND_TYPE\n\n//Enumeration definition\nTYPE ENUM_Light: (\n    Red,\n    Orange,\n    Green := 10\n);\nEND_TYPE","listId":"20","x":520,"y":120,"wires":[["dcdf0291a8d5793e"]]},{"id":"e73c293d42d814e0","type":"nvl-receive","z":"2892cbdd.fbc6c4","name":"","definition":"TYPE NVL:\nSTRUCT\n    myArray:    ARRAY [5..10] OF ST_MyStruct;\n    myEnum:     ENUM_Light;\n    my2DArray:  ARRAY [0..2,0..1] OF LREAL;\nEND_STRUCT\nEND_TYPE\n\n//Structure definition\nTYPE ST_MyStruct:\nSTRUCT\n    xBool:      BOOL;\n    bByte:      BYTE;\nEND_STRUCT\nEND_TYPE\n\n//Enumeration definition\nTYPE ENUM_Light: (\n    Red,\n    Orange,\n    Green := 10\n);\nEND_TYPE","listId":"20","x":530,"y":320,"wires":[["26844660ba82eace"]]},{"id":"dcdf0291a8d5793e","type":"udp out","z":"2892cbdd.fbc6c4","name":"","addr":"127.0.0.1","iface":"","port":"1203","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":710,"y":120,"wires":[]},{"id":"13fbc3dab68d0fd2","type":"udp in","z":"2892cbdd.fbc6c4","name":"","iface":"","port":"1203","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":160,"y":320,"wires":[["e73c293d42d814e0"]]},{"id":"26844660ba82eace","type":"debug","z":"2892cbdd.fbc6c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"8df41f2e8f960ffd","type":"function","z":"2892cbdd.fbc6c4","name":"Set variables","func":"msg.payload = {\n    myArray: \n        [  \n            { xBool:true,   bByte: 1},\n            { xBool:false,  bByte: 2},\n            { xBool:true,   bByte: 3},\n            { xBool:false,  bByte: 4},\n            { xBool:true,   bByte: 5}\n        ],\n    myEnum: \"Red\",\n    my2DArray:\n        [\n            [0,1],\n            [2,3],\n            [4,5]\n        ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":120,"wires":[["a39c3cbc533d9fd4"]]},{"id":"c20502ccf0c6c189","type":"inject","z":"2892cbdd.fbc6c4","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":120,"wires":[["8df41f2e8f960ffd"]]},{"id":"6793d02e53a30351","type":"inject","z":"2892cbdd.fbc6c4","name":"Enum by name","props":[{"p":"payload.myEnum","v":"Orange","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":180,"wires":[["a39c3cbc533d9fd4"]]},{"id":"764db5b29caad517","type":"inject","z":"2892cbdd.fbc6c4","name":"Enum by number","props":[{"p":"payload.myEnum","v":"10","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":220,"wires":[["a39c3cbc533d9fd4"]]}]