examples/3_Dynamic properties.json
[{"id":"7ae6e31669498138","type":"nvl-receive","z":"111d56b40a25c003","name":"","definition":"TYPE NVL:\nSTRUCT\n\nEND_STRUCT\nEND_TYPE","listId":0,"x":510,"y":160,"wires":[["687e9f3db4030c68"]]},{"id":"f08164fb839fde60","type":"nvl-send","z":"111d56b40a25c003","name":"","definition":"TYPE NVL:\nSTRUCT\n\nEND_STRUCT\nEND_TYPE","listId":0,"x":340,"y":160,"wires":[["7ae6e31669498138"]]},{"id":"d85e7b7b7fe66e3a","type":"inject","z":"111d56b40a25c003","name":"","props":[{"p":"payload"},{"p":"id","v":"1","vt":"num"},{"p":"nvl","v":"TYPE NVL: STRUCT     xBool: BOOL; END_STRUCT END_TYPE","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"xBool\":true}","payloadType":"json","x":130,"y":120,"wires":[["f08164fb839fde60"]]},{"id":"687e9f3db4030c68","type":"debug","z":"111d56b40a25c003","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"c0db23a4632a8576","type":"inject","z":"111d56b40a25c003","name":"","props":[{"p":"payload"},{"p":"id","v":"5","vt":"num"},{"p":"nvl","v":"TYPE NVL: STRUCT     iInt: INT; END_STRUCT END_TYPE","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"iInt\":5}","payloadType":"json","x":110,"y":200,"wires":[["f08164fb839fde60"]]},{"id":"e928815268b7e11d","type":"comment","z":"111d56b40a25c003","name":"Comment","info":"# Note: \nThe **NVL-send** node has a seperate memory for each **list Id**. This memory will merge new values with the old values.","x":100,"y":340,"wires":[]},{"id":"c50016f27be2eca4","type":"nvl-send","z":"111d56b40a25c003","name":"","definition":"TYPE NVL:\nSTRUCT\n    xBool:      BOOL;\n    lrReal:     LREAL;\nEND_STRUCT\nEND_TYPE","listId":0,"x":340,"y":400,"wires":[["89855e968d3dcc15"]]},{"id":"7b47fe32eb929ae4","type":"nvl-receive","z":"111d56b40a25c003","name":"Recieve Id 1","definition":"TYPE NVL:\nSTRUCT\n    xBool:      BOOL;\n    lrReal:     LREAL;\nEND_STRUCT\nEND_TYPE","listId":"1","x":690,"y":340,"wires":[["e45d77a0f16dc168"]]},{"id":"ba5ad4a687e9780c","type":"debug","z":"111d56b40a25c003","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":850,"y":460,"wires":[]},{"id":"269b2acc4a9e30c0","type":"nvl-receive","z":"111d56b40a25c003","name":"Recieve Id 2","definition":"TYPE NVL:\nSTRUCT\n    xBool:      BOOL;\n    lrReal:     LREAL;\nEND_STRUCT\nEND_TYPE","listId":"2","x":690,"y":460,"wires":[["ba5ad4a687e9780c"]]},{"id":"89855e968d3dcc15","type":"change","z":"111d56b40a25c003","name":"","rules":[{"t":"delete","p":"id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":400,"wires":[["7b47fe32eb929ae4","269b2acc4a9e30c0"]]},{"id":"e45d77a0f16dc168","type":"debug","z":"111d56b40a25c003","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":850,"y":340,"wires":[]},{"id":"29c70763e94d440e","type":"inject","z":"111d56b40a25c003","name":"Init Id 1","props":[{"p":"payload"},{"p":"id","v":"1","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"{\"xBool\":true,\"lrReal\":0.123}","payloadType":"json","x":120,"y":400,"wires":[["c50016f27be2eca4"]]},{"id":"7e8591eb11ea2deb","type":"inject","z":"111d56b40a25c003","name":"Init Id 2","props":[{"p":"payload"},{"p":"id","v":"2","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"{\"xBool\":false,\"lrReal\":987.6}","payloadType":"json","x":120,"y":440,"wires":[["c50016f27be2eca4"]]},{"id":"36ba60870618d4d5","type":"inject","z":"111d56b40a25c003","name":"Update Id 1","props":[{"p":"payload"},{"p":"id","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0","topic":"","payload":"{\"xBool\":false}","payloadType":"json","x":130,"y":500,"wires":[["c50016f27be2eca4"]]},{"id":"0caef6b4e4255667","type":"inject","z":"111d56b40a25c003","name":"Update Id 2","props":[{"p":"payload"},{"p":"id","v":"2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0","topic":"","payload":"{\"lrReal\":0}","payloadType":"json","x":130,"y":540,"wires":[["c50016f27be2eca4"]]},{"id":"bf3582613b153884","type":"comment","z":"111d56b40a25c003","name":"Comment","info":"# Note: \nThis example show how to dynamically set the **List Id** and **NVL definition**.","x":100,"y":60,"wires":[]}]