examples/3_Dynamic properties.json
[{"id":"cc73b5606d60fa6b","type":"nvl-receive","z":"b80a87890215bee5","name":"","definition":"VAR_GLOBAL\n\nEND_VAR","listId":0,"globaltypes":"","x":630,"y":240,"wires":[["a82090b1e6452ed2"]]},{"id":"4e46aed9659df34e","type":"nvl-send","z":"b80a87890215bee5","name":"","definition":"VAR_GLOBAL\n\nEND_VAR","listId":0,"globaltypes":"","x":460,"y":240,"wires":[["cc73b5606d60fa6b"]]},{"id":"ee357aa78c01d247","type":"inject","z":"b80a87890215bee5","name":"","props":[{"p":"payload"},{"p":"id","v":"1","vt":"num"},{"p":"nvl","v":"TYPE NVL: STRUCT     xBool: BOOL; END_STRUCT END_TYPE","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"xBool\":true}","payloadType":"json","x":250,"y":200,"wires":[["4e46aed9659df34e"]]},{"id":"a82090b1e6452ed2","type":"debug","z":"b80a87890215bee5","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":810,"y":240,"wires":[]},{"id":"ce12c79e4f7d5bce","type":"inject","z":"b80a87890215bee5","name":"","props":[{"p":"payload"},{"p":"id","v":"5","vt":"num"},{"p":"nvl","v":"TYPE NVL: STRUCT     iInt: INT; END_STRUCT END_TYPE","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"iInt\":5}","payloadType":"json","x":230,"y":280,"wires":[["4e46aed9659df34e"]]},{"id":"02de3216fcb8fc45","type":"comment","z":"b80a87890215bee5","name":"Comment","info":"# Note: \nThe **NVL-send** node has a seperate memory for each **list Id**. This memory will merge new values with the old values.","x":220,"y":420,"wires":[]},{"id":"6742f904ca5ac180","type":"nvl-send","z":"b80a87890215bee5","name":"","definition":"VAR_GLOBAL\n    xBool:      BOOL;\n    lrReal:     LREAL;\nEND_VAR","listId":0,"globaltypes":"","x":460,"y":480,"wires":[["116c755447409d7f"]]},{"id":"dd06b47c659bf0ac","type":"nvl-receive","z":"b80a87890215bee5","name":"Receive Id 1","definition":"VAR_GLOBAL\n    xBool:      BOOL;\n    lrReal:     LREAL;\nEND_VAR","listId":"1","globaltypes":"","x":810,"y":420,"wires":[["cb64b7cf37a8747c"]]},{"id":"b585773f6acccc67","type":"debug","z":"b80a87890215bee5","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":970,"y":540,"wires":[]},{"id":"e1b6e6eccfe82974","type":"nvl-receive","z":"b80a87890215bee5","name":"Receive Id 2","definition":"VAR_GLOBAL\n    xBool:      BOOL;\n    lrReal:     LREAL;\nEND_VAR","listId":"2","globaltypes":"","x":810,"y":540,"wires":[["b585773f6acccc67"]]},{"id":"116c755447409d7f","type":"change","z":"b80a87890215bee5","name":"","rules":[{"t":"delete","p":"id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":480,"wires":[["dd06b47c659bf0ac","e1b6e6eccfe82974"]]},{"id":"cb64b7cf37a8747c","type":"debug","z":"b80a87890215bee5","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":970,"y":420,"wires":[]},{"id":"a9168d974785e8ce","type":"inject","z":"b80a87890215bee5","name":"Init Id 1","props":[{"p":"payload"},{"p":"id","v":"1","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"{\"xBool\":true,\"lrReal\":0.123}","payloadType":"json","x":240,"y":480,"wires":[["6742f904ca5ac180"]]},{"id":"8297093752e37f8a","type":"inject","z":"b80a87890215bee5","name":"Init Id 2","props":[{"p":"payload"},{"p":"id","v":"2","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"{\"xBool\":false,\"lrReal\":987.6}","payloadType":"json","x":240,"y":520,"wires":[["6742f904ca5ac180"]]},{"id":"6c8f35765a94adb2","type":"inject","z":"b80a87890215bee5","name":"Update Id 1","props":[{"p":"payload"},{"p":"id","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0","topic":"","payload":"{\"xBool\":false}","payloadType":"json","x":250,"y":580,"wires":[["6742f904ca5ac180"]]},{"id":"3b654f17e1f0c794","type":"inject","z":"b80a87890215bee5","name":"Update Id 2","props":[{"p":"payload"},{"p":"id","v":"2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0","topic":"","payload":"{\"lrReal\":0}","payloadType":"json","x":250,"y":620,"wires":[["6742f904ca5ac180"]]},{"id":"b0bc6c94e7564458","type":"comment","z":"b80a87890215bee5","name":"Comment","info":"# Note: \nThis example show how to dynamically set the **List Id** and **NVL definition**.","x":220,"y":140,"wires":[]}]